div.pull-left h4,
div.pull-left p {
  word-wrap: break-word;
}

.text-italic {
  font-style: italic;
  font-weight: 600;
  font-size: 13px;
  letter-spacing: 1px;
}

.list-item-title {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
}

.img-style {
  max-height: 55px;
  min-height: 54px;
  max-width: 100%;
  margin: 4px auto auto auto;
}
